@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255 214 0;
  --color-primary-light: 255 255 225;
  --color-secondary: 220 180 255;
  --color-secondary-light: 255 235 255;
  --color-tertiary: 144 231 255;
  --color-tertiary-light: 235 255 255;
  --color-behind: 255 255 255;
  --color-text: 0 0 0;
  --color-success: 111 202 55;
  --color-success-light: 235 255 223;
  --color-warning: 242 141 21;
  --color-warning-light: 255 239 220;
  --color-delete: 219 30 30;
  --color-delete-light: 255 236 236;
  --color-error: 219 30 30;
  --color-error-light: 255 236 236;
  @apply prose dark:prose-invert !max-w-none;
}

/* When prefers-color-scheme is dark */

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 194 157 0; /* Darker yellow */
    --color-primary-light: 94 75 0; /* Darker yellow */
    --color-secondary: 171 95 235; /* Slightly muted blue */
    --color-secondary-light: 61 0 105; /* Slightly muted blue */
    --color-tertiary: 76 168 235; /* Slightly muted purple */
    --color-tertiary-light: 76 168 235; /* Slightly muted purple */
    --color-behind: 34 34 34; /* Dark grey for background */
    --color-text: 235 235 235; /* Slightly off-white for readability */
    --color-success: 92 167 27; /* Slightly muted green */
    --color-success-light: 83 118 55; /* Darker green */
    --color-warning: 202 101 1; /* Slightly muted orange */
    --color-warning-light: 72 37 1; /* Darker orange */
    --color-delete: 199 10 10; /* Slightly muted red */
    --color-delete-light: 129 43 43; /* Darker red */
    --color-error: 199 10 10; /* Slightly muted red */
    --color-error-light: 129 43 43; /* Darker red */
    @apply dark:bg-behind dark:text-text;
  }
}

#root {
  @apply relative min-h-screen text-text;
}

#root::after {
  /* The background gradient */
  content: '';
  @apply block w-full h-full absolute -z-50 inset-0 bg-gradient-to-br from-primary via-behind to-secondary opacity-10;
}

details summary * {
  @apply cursor-pointer inline-block;
}
h2 {
  @apply text-2xl font-bold;
}
details.secondary {
  @apply bg-secondary p-2 pl-4 bg-opacity-5 border-l-4 border-secondary backdrop-blur;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.guide img {
  @apply max-w-56;
}

.loader {
  /* border-left-color: #3498db; */
  @apply border-l-primary animate-spin;
}

.tooltip-text {
  /* Indicate a text that has an associated tooltip, with a question mark next to it */
  @apply inline-block rounded underline decoration-dashed cursor-help bg-primary bg-opacity-0 hover:bg-opacity-25 transition-all; 
}

.tooltip-text::after {
  /* The question mark on the top right of the text */
  content: '?';
  @apply ml-[2px] inline-flex text-xs justify-center font-bold no-underline decoration-transparent align-super;
}